.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa; /* Color de fondo */
    border-right: 1px solid #dee2e6; /* Borde derecho */
    padding-top: 20px; /* Espaciado superior */
  }
  
  .content {
    margin-left: 250px; /* Ajuste del contenido para dejar espacio al sidebar */
    padding: 20px;
  }
  
  .navbar {
    width: 100%;
  }
  
  .nav-link {
    padding: 10px 15px;
  }
  